.page{
  margin: 20px;
}
.app {
  text-align: center;
  background-color: whitesmoke;
  min-height: 90vh;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  
}
.SealSpineerHeader{
  text-align: center;
}
.seal-enter{
  animation:spin 2s linear ; 
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(360deg);
  }
}
